{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link href="{{ absolute_url(asset('css/index.css')) }}" rel="stylesheet"/>
{% endblock %}
{% block title %}Taskillity!
{% endblock %}

{% block body %}
    <!--Menu-->
    <header>
        <nav class="navbar navbar-expand-lg nabvar-dark menu">
            <div class="container">
                <img  class="img" src="{{ absolute_url(asset('images/Taskillity.png')) }}" width="50" height="50" >
                
                <a class="navbar-brand text-white " href="#">Taskility</a>
                <button class="navbar-toggler scroll" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation"></button>

                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 50px;">
                        <li class="nav-item">
                            <a class="nav-link active text-white " aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active text-white " aria-current="page" href="#">Make task</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white " aria-current=" page" href="#">Contact us</a>
                        </li>


                    </ul>

                </div>
            </div>
        </nav>
    </header>
    
    <!--Contenedor principal-->
    <div class="container-fluid contenedorPrincipal ">
        <br>
        <br>
        <div class="container menuDE">
        
        <h2 class="tituloTarea">Tareas</h2>
        <br>
        <div class="row mb-1">
            <div class="col-md-4 col-sm-12 cards">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title ">{Titulo Tarea}</h5>
                        <p class="card-text ">{descripcion Tarea}</p>
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                        <br/>
                        <button type="button" class="btn btn-primary">Modificar Tarea</button>
                        <button type="button" class="btn btn-danger">Eliminar Tarea</button>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</body>

{% endblock %}